<app-header>
  <div class="header-nav d-flex justify-content-between">
    <div class="header-image"></div>
    <div class="dropdown">
      <button
        class="btn btn-transparent btn-lg shadow-none btn-profile p-1"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-list fs-3"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item">
            <i class="bi bi-person-badge fs-4 me-2 text-secondary"></i>Ver mi
            perfil</a
          >
        </li>
        <li>
          <a class="dropdown-item">
            <i class="bi bi-box-arrow-right fs-4 me-2 text-secondary"></i
            >Cerrar sesión</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="header-name d-flex flex-column mt-5 fs-3">
    <span class="fw-bold">Bienvenido,</span>
    <span class="fw-bold">Guillermo Guerrero</span>
  </div>
</app-header>
<app-content>
  <div class="home-content-container">
  <div class="btn-notification d-flex justify-content-center">
    <button type="button" class="btn btn-lg btn-secondary px-5">
      <i class="bi bi-bell-fill fs-3"></i>
    </button>
  </div>
  <div
      class="home-content d-flex justify-content-center align-items-center"
    >
      <div
        (click)="goToChat()"
        class="action mx-4 chat-action d-flex justify-content-center align-items-center flex-column"
      >
        <i class="bi bi-chat-dots-fill fs-1"></i>
        <span class="action-text fw-bold">Chat</span>
      </div>
      <div
        (click)="goToMotivation()"
        class="action mx-4 message-action d-flex justify-content-center align-items-center flex-column"
      >
        <i class="bi bi-emoji-wink-fill fs-1"></i>
        <span class="action-text fw-bold">Motivación</span>
      </div>
    </div>
  </div>
</app-content>
<app-footer></app-footer>