
<div
  class="motivation-container d-flex justify-content-center align-items-center flex-column"
>
  <div class="motivation-board z-2">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner px-1">
        <div class="carousel-item active" data-bs-interval="3000">
          <div class="message d-block">
            Cree en ti mismo, y todo será posible.
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="message d-block">
            Los sueños no tienen fecha de caducidad.
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="message d-block">
            El éxito es la suma de pequeños esfuerzos repetidos día tras día.
          </div>
        </div>
      </div>
      <button
        class="control btn btn-transparent carousel-control-prev shadow-none mx-2 text-secondary"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="control btn btn-transparent carousel-control-next shadow-none mx-2 "
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon text-secondary" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="footer-chalkboard d-flex">
    <div class="leg leg-left"></div>
    <div class="leg leg-right"></div>
  </div>
</div>
